# Runtime dependencies
numpy
pandas
scikit-learn
xgboost
shap
bokeh>=3.0.3
pyarrow
matplotlib
seaborn
deepdiff
scorepyon @ git+https://github.com/Trajano81/scoring_pricing.git
bidipy @ git+https://github.com/Trajano81/facbidpy.git
ipython

# Dev/testing dependencies
pytest
black
packaging==21.3
pytest-cov
coverage2clover
